---
title: A page for you
layout: base.njk
---

<div class="container">
    <h1>This is a page for you</h1>
    <div class="vibe">Have you heard the latest news?</div>
    <div class="love">
        <h3>News</h3>
        <ul>
        {% for article in news.article %}
            <li>{{articles.title}}</li>
        {% endfor %}
        </ul>
    </div>
</div>
<script src="./js/vibe.js"></script>